@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: rgb(26, 25, 25);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  height: 80px;
}


::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track{
  background: rgb(30, 30, 51);
}
::-webkit-scrollbar-thumb{
  background: rgb(41, 41, 69);
}